body {
    font-family: 'Lato', sans-serif;
    background-image: url('assets/masters-backpage-nologo-pink-darker.jpg');
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: visible;
}

header, footer {
    background-color: #984D98;
    opacity: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Ensure proper stacking */
}

.mobile-header{
    display: none;
}
.full-screen-header.desktop-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('path_to_your_background_image.jpg') no-repeat center center/cover;
    display: flex;
    font-size: 3rem;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding: 0 5%;
    box-sizing: border-box;
}

.full-screen-header h1 {
    margin-bottom: 0.2em; /* Adjust as needed */
}

.header-content {
    z-index: 1;
    margin: 0;
    position: relative;
    max-width: 800px;
    padding: 0 20px;
}

.header-content .tagline {
    font-style: "Candara";
    font-size: 1.5em;
    margin-top: 5%;
}

.header-content .small-tagline {
    color: #b9a5e9;
    font-size: 0.5em;
    margin-top: 0.2em;
}
.fixed-bottom-right {
    position: absolute; /* Change to fixed for consistent placement */
    z-index: 100;
    font-size: 1.5rem; /* Use relative units */
    color: white;
    bottom: 10px;
    right: 10px;
    background: #984D98; 
    opacity: 60%;
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
}

.fixed-bottom-right b, .fixed-bottom-right i {
    color: rgba(255, 255, 255, 1); /* Fully opaque white text */
    z-index: 200;
}

.full-screen-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.main-content {
    margin-top: 0; /* Adjust for the full-height header */
    padding: 20px;
}

.sidebar {
    padding: 20px;  
}

.calendar-container{
    overflow: visible;
}
.event-description-box {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's on top of other content */
    /* max-width: 300px;  */
    border-radius: 5px;
}

/* Optional: Style when hovering over the event */
.calendar-event:hover .event-description-box {
    display: flex;
    overflow: visible;
}


/* Optional: Smooth Scroll */
html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background-color: #2C3860;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #cfccd8;
}

nav a:visited{
    color: white;
}

.nav-mobile{
    display: none;
}

.nav-desktop{
    display: sticky;
}
/* Change the default color of all hyperlinks */
a {
    color: #2C3860; /* Replace with your desired color */
}

/* Change the color when the link is hovered over */
a:hover {
    color: #717da5; /* Replace with your desired hover color */
}

/* Change the color when the link is clicked (active state) */
a:active {
    color: #717da5; /* Replace with your desired active color */
}

/* Change the color for visited links */
a:visited {
    color: #37417B; /* Replace with your desired visited color */
}

main {
    display: flex;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    margin: 20px auto;
    max-width: 1200px;
    animation: fadeIn 1.5s ease-in-out;
}

.content {
    flex: 3;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    animation: slideIn 0.8s ease-in-out;
}

.sidebar {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #2C3860;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #2C3860;
    transition: color 0.3s ease-in-out;
}

section h2:hover {
    color: #2C3860;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.team-member img:hover {
    transform: scale(1.1);
}

.past-talks, .upcoming-events {
    list-style: none;
    padding: 0;
}

.past-talks li, .upcoming-events li {
    margin-bottom: 10px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

.resources a {
    color: #4b0082;
    transition: color 0.3s ease-in-out;
}

.resources a:hover {
    color: #6a0dad;
}

.form-embed {
    border: 1px solid #4b0082;
    border-radius: 8px;
    overflow: visible;
}

.wrapped-figure {
    align-self: right;
    position: absolute;
    /* bottom: 40px; */
    right: 5%;
    /* top: 10px; */
    margin: 0;
    z-index: 2;
    max-width: 25%;
    justify-content: center;
    animation: fadeInLeft 1.5s ease-in-out;
}

.wrapped-figure img {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.wrapped-figure figcaption {
    font-size: 0.9em;
    text-align: center;
    color: #4b0082;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.about-container {
    display: flex;
    flex-direction: column; /* Adjust for smaller screens */
    align-items: stretch;
}

.about-container img{
    width: 100%;
    height: 100%;
}

.about-text {
    flex: 1;
}
.pquote {
    font-family: 'Georgia', serif; /* A classic serif font for quotes */
    font-size: 1.0em; /* Large font for emphasis */
    line-height: 1.6; /* Comfortable line spacing */
    margin: 10px 0; /* Vertical margin to space it out */
    padding: 10px;
    color: #555; /* Dark gray text */
    border-left: 5px solid #2C3860; /* Bold left border to distinguish the quote */
    background: #f9f9f9; /* Light gray background */
    position: relative;
}

.tx-ind {
    margin-left: 20px;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 1080px) {
    .full-screen-header {
        font-size: 2.5rem;
        padding: 0 5%;
    }
    .full-screen-header.desktop-header{
        display:flex;
    }

    .header-content {
        max-width: 600px;
        padding: 0 15px;
    }
    .nav-desktop{
        display: sticky;
    }

    .nav-mobile{
        display: none;
    }
    .fixed-bottom-right {
        font-size: 1.2rem;
        z-index: 9999;
    }
    
}

@media (max-width: 992px) {
    .full-screen-header {
        font-size: 2rem;
        padding: 0 5%;
    }
    .full-screen-header.desktop-header{
        display:flex;
    }

    .nav-desktop{
        display: sticky;
    }

    .nav-mobile{
        display: none;
    }
    .header-content {
        max-width: 500px;
        padding: 0 10px;
    }

    .fixed-bottom-right {
        font-size: 1rem;
        bottom: 5px;
        right: 5px;
        z-index: 9999;
    }

    main {
        flex-direction: column;
    }

    .content, .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .full-screen-header {
        font-size: 1.5rem;
        padding: 0 5%;
    }
    .full-screen-header.desktop-header{
        display:flex;
    }
    .nav-desktop{
        display: sticky;
    }

    .nav-mobile{
        display: none;
    }
    .pquote {
        font-size: 1.0em; /* Smaller font on smaller screens */
        padding: 10px;
        margin: 10px 0;
    }

    .header-content {
        max-width: 400px;
        padding: 0 5px;
    }

    .fixed-bottom-right {
        font-size: 0.8rem;
        bottom: 0;
        right: 0;
        z-index: 9999;
    }

    .sidebar {
        padding: 10px;
    }

    .team-member img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    .full-screen-header.desktop-header{
        display: none;
    }
    .full-screen-header.mobile-header {
        display: flex;
        position: relative;
        width: 100%;
        min-height: 90vh;
        flex-direction: column;
        justify-content: space-between;
        background: url('path_to_your_background_image.jpg') no-repeat center center/cover;
        font-size: 1.0em;
        align-items: center;
        text-align: left;
        color: white;
        /* padding: 15% 5%; */
        box-sizing: border-box;
    }

    .header-content {   
        display: block;
        width: 100%;
        font-size: 1.2em;
        position: relative;
        padding: 5% 5%;
        text-align: left; /* Maintain left alignment */
    }

    .header-content .tagline {
        /* font-size: 0.6em; */
        margin-top: 10%;
        margin-bottom: 8%;
    }
    
    .header-content .small-tagline {
        font-size: 0.8em;
        margin-top: 2%;
        padding-bottom: 0;
    }
    .nav-desktop {
        display: none;
      }

    .nav-mobile{
        display: sticky;
        top: 10;
        z-index: 9999;
        display: flex;
        justify-content: center;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .pquote {
        font-size: 1.0em; /* Even smaller font for very small screens */
        padding: 10px;
        margin: 10px 0;
    }

    .wrapped-figure{
        order: 1;
        display: block;
        width: 100%;
        position: absolute;
        align-self: top;
        padding-top: 5%;
        padding-right: 25%;
        padding-left: 25%;
        padding-bottom: 10%;
        bottom: 0; 
        left: 0; 
    }

    .wrapped-figure img{
        max-width: 200%;
    }
    .fixed-bottom-right {
        display: block;
        width: 100%;
        position: relative;
        font-size: 0.7rem;
        bottom: 0;
        right: 0;
        padding: 5px;
        z-index: 9999;
    }

    .content, .sidebar {
        padding: 10px;
    }

    .team-member img {
        width: 60px;
        height: 60px;
    }
}
